.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  background: #3E613E;
  color: white;
  z-index: 1000;
}

.nav-btn {
  background: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.nav-btn:hover {
  background: #223E42;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.nav-right button {
  background: #BDCC97;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.nav-right button:hover {
  background: #223E42;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}