.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  background: #141414;
  color: white;
  z-index: 1000;
}

.nav-btn {
  background: transparent;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
}

.nav-btn:hover {
  background: #282828;
  color: white;
}

.nav-right button {
  background: #141414;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  color: white;
}

.nav-right button:hover {
  background: #3c3c3c;
}