.app-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  transition: grid-template-columns 0.75s cubic-bezier(.2, .8, .2, 1);
  align-items: center;
  justify-self: center;
}

/* When sidebar exists */
.app-grid[data-sidebar="true"] {
  grid-template-columns: var(--sidebar-width, 300px) 1fr;
}

/* When sidebar is hidden */
.app-grid[data-sidebar="false"] {
  grid-template-columns: 1fr;
}

.app-grid[data-collapsed="true"] {
  --sidebar-width: 72px;
}