.app-grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: var(--sidebar-width, 300px) 1fr;
  align-items: center;
  justify-self: center;
  padding-top: 60px;
  transition: grid-template-columns 0.75s cubic-bezier(.2, .8, .2, 1);
}

.app-grid[data-collapsed="true"] {
  --sidebar-width: 72px;
}