body {
  @apply flex items-center justify-center min-h-screen;
  /*background-color: #282828;*/
  background-color: #141414;
}

.auth-form {
  @apply p-8 rounded-2xl shadow-lg w-full max-w-md;
  /*background-color: #141414;*/
  background-color: #282828;
  min-width: 480px;
}

.auth-title {
  @apply text-white text-2xl font-bold text-center mb-6;
}

.auth-input-title {
  @apply text-white text-left mb-1.5;
}

.auth-input {
  @apply border border-gray-300 text-white rounded-lg p-3 mb-4 w-full focus:outline-none focus:border-white focus:ring-1 focus:ring-white;
  background-color: #282828;
}

.auth-button {
  @apply text-white font-semibold py-3 rounded-lg w-full transition mt-2;
  background-color: white;
  color: #141414;
}
.auth-button:hover {
  background-color: #3c3c3c;
  color: white;
}

.auth-link {
  @apply text-sm text-white hover:underline text-center mt-4 block;
}
