.auth-form {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08);
  width: 100%;
  max-width: 28rem;
  background-color: #92C75F;
  min-width: 480px;
}

.auth-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-input-title {
  color: #fff;
  text-align: left;
  margin-bottom: 0.375rem;
}

.auth-input {
  border: 1px solid #d1d5db;
  color: #223E42;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #E1E9E0;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.auth-input:focus {
  box-shadow: 0 0 0 1px #d1d5db;
}

.auth-button {
  color: white;
  font-weight: 600;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 0.5rem;
  background-color: #2B5D6E;
}

.auth-button:hover {
  background-color: #223E42;
  color: white;
}

.auth-link {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
  display: block;
  text-decoration: none;
}

.auth-link:hover {
  text-decoration: underline;
}
