body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /*background-color: #282828;*/
  background-color: #141414;
}

.auth-form {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 28rem;
  /*background-color: #141414;*/
  background-color: #282828;
  min-width: 480px;
}

.auth-title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.auth-input-title {
  color: #fff;
  text-align: left;
  margin-bottom: 0.375rem;
}

.auth-input {
  border: 1px solid #d1d5db;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  width: 100%;
  background-color: #282828;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.auth-input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff;
}

.auth-button {
  color: #141414;
  font-weight: 600;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
  margin-top: 0.5rem;
  background-color: #fff;
}
.auth-button:hover {
  background-color: #3c3c3c;
  color: white;
}

.auth-link {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
  display: block;
  text-decoration: none;
}
.auth-link:hover {
  text-decoration: underline;
}
