.calculator-container {
  max-width: 720px;
  margin: 40px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08);
  background: white;
  background-color: #141414;
  color: white;
}

input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #282828;
  color: white;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff;
}

.remove-btn {
  color: white;
  font-weight: bold;
}

.calculator-result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.calculator-header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.calculator-actions {
  display: flex;
  margin-top: 32px;
}

.calculator-actions button {
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.calculator-actions button:hover {
  background-color: #282828;
}