.calculator-container {
  max-width: 720px;
  margin: 40px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08);
  background-color: #92C75F;
  color: white;
}

input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #E1E9E0;
  color: #223E42;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  border-color: #E1E9E0;
  box-shadow: 0 0 0 1px #d1d5db;
}

.remove-btn {
  color: white;
  font-weight: bold;
}

.calculator-result {
  display: grid;
  margin-top: 10px;
  text-align: left;
  color: white;
}

.calculator-result-header {
  font-size: 3rem;
  font-weight: 600;
  justify-self: center;
  padding-top: 32px;
}

.calculator-result-subheader {
  font-size: 1.5rem;
  font-weight: 600;
  justify-self: center;
  padding-bottom: 32px;
}

.calculator-result input {
  margin-left: 8px;
  height: 2rem;
}

.calculator-header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.add-row {
  width: 100%;
}

.add-row button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  background-color: #BDCC97;
}

.add-row button:hover {
  background-color: #223E42;
}

.action-buttons {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.actions-buttons button:hover {
  background-color: #223E42;
}

.save-actions {
  display: flex;
}

.save-actions button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  background-color: transparent;
}

.save-actions button:hover {
  background-color: #223E42;
}

.export-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-section input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #E1E9E0;
  color: #223E42;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  height: 100%;
}

.export-section input:focus {
  border-color: #E1E9E0;
  box-shadow: 0 0 0 1px #d1d5db;
}

.calculate-button {
  background-color: #2B5D6E;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}

.calculate-button:hover {
  background-color: #223E42;
}

.export-button {
  display: flex;
  background-color: #2B5D6E;
  border: none;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
  margin-left: 12px;
  padding: 10px 16px;
}

.export-button:hover {
  background-color: #223E42;
}