.calculator-container {
  max-width: 720px;
  margin: 40px auto;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 
    0 1px 1px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08),
    0 8px 8px rgba(0, 0, 0, 0.08),
    0 16px 16px rgba(0, 0, 0, 0.08);
  background-color: #92C75F;
  color: white;
}

input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #E1E9E0;
  color: #223E42;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus {
  border-color: #E1E9E0;
  box-shadow: 0 0 0 1px #d1d5db;
}

.remove-btn {
  color: white;
  font-weight: bold;
}

.calculator-result {
  display: grid;
  gap: 10px;
  margin-top: 10px;
  text-align: left;
  color: white;
}

.calculator-result hr {
  padding: 5px;
}

.calculator-result-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.calculator-result input {
  margin-left: 8px;
  height: 2rem;
}

.calculator-header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: white;
}

.calculator-actions {
  display: flex;
  margin-top: 32px;
}

.calculator-actions button {
  padding: 8px 13px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.calculator-actions button:hover {
  background-color: #223E42;
}