.final-calculator-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.final-calculator-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.final-calculator-actions button:first-child {
  color: white;
  transition: background-color 0.2s, color 0.2s;
  background-color: #BDCC97
}

.final-calculator-actions button:first-child:hover {
  background-color: #223E42;
}

.final-calculator-actions button:last-child {
  background: #2B5D6E;
  color: white;
  font-weight: 600;
  transition: background-color 0.2s, color 0.2s;
}

.final-calculator-actions button:last-child:hover {
  background-color: #223E42;
  color: white;
}

.final-calculator-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  align-items: center;
  text-align: left;
}

.calculator-result hr {
  margin-top: 8px;
}