.gpa-calculator-actions {
  display: grid;
  margin-top: 20px;
  gap: 16px;
  font-weight: 600;
  align-items: center;
  padding-right: 28px;
}

.gpa-calculator-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.gpa-calculator-columns-header {
  display: grid;
  grid-template-columns: 1fr 1fr 16px;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.gpa-calculator-row {
  display: grid;
  grid-template-columns: 1fr 1fr 16px;
  gap: 10px;
  margin-bottom: 10px;
}

.gpa-calculator-hr {
  margin-top: 8px;
  margin-right: 26px;
}