.grade-calculator-columns-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.grade-calculator-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 32px;
  gap: 10px;
  margin-bottom: 10px;
}

.grade-calculator-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-right: 30px;
  font-weight: 600;
}

.grade-calculator-actions button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.grade-calculator-actions button:last-child {
  background-color: #2B5D6E;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.grade-calculator-actions button:last-child:hover {
  background-color: #223E42;
}

.grade-calculator-actions button:first-child {
  color: white;
  transition: background-color 0.2s, color 0.2s;
  background-color: #BDCC97;
}

.grade-calculator-actions button:first-child:hover {
  background-color: #223E42;
}